<div class="container__big-card">
  <div>
    <img
    src="../../../assets/imgs/thumb_article41.jpg"
    alt="Imagem"/>
  </div>
  <div class="big-card__description">
    <span class="ff-roboto">Lorem Ipsum</span>
    <h1 class="ff-poppins">The standard Lorem Ipsum passage, used since the 1500s</h1>
    <p class="ff-roboto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>
